{
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended"],
	"plugins": [
		"svelte3",
		"@typescript-eslint"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"overrides": [
		{
			"files": ["*.svelte"],
			"processor": "svelte3/svelte3"
		}
	],
	"settings": {
		"svelte3/typescript": true
	},
	"rules": {
		"quotes": ["error", "double"],
		"semi": ["error", "always"]
	}
  }
