:root {
	--primary-color: #6366F1;
	--accent-color: #4F46E5;
	--z-index: 999999;
	--border-radius: 4px;
	--box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Button */
.gthr-btn {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	color: white;
	display: flex;
	align-items: center;
	background-color: var(--primary-color);
	padding: 10px 16px;
	border: none;
	border-bottom-left-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
	cursor: pointer !important;
	z-index: calc(var(--z-index) + 1);
	box-shadow: var(--box-shadow);
}

.gthr-btn > svg {
	margin-right: 8px;
}

.gthr-btn:hover {
	background-color: var(--accent-color);
}

/* Overlay */
.gthr-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 6px solid var(--primary-color);
	z-index: var(--z-index);
	cursor: crosshair !important;
}

/* Highlight */
.gthr-highlight {
	outline: 3px solid var(--primary-color);
}

/* Dot */
.gthr-dot {
	user-select: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 28px;
	height: 28px;
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	transform: translate(-50%, -60%);
	color: black;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: var(--box-shadow);
	border: 1px solid black;
	border-radius: 99px;
	z-index: calc(var(--z-index) + 3);

	cursor: pointer;

	transition:
		transform 0.2s ease-in-out,
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

.gthr-dot:hover {
	color: white;
	background-color: #6366F1;
	transform: translate(-50%, -60%) scale(1.08);
}

/* Tooltip */
.tippy-box {
	width: 320px;
	box-shadow: var(--box-shadow);
	z-index: calc(var(--z-index) + 1);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: none;
	background-color: white;
}

.tippy-content {
	padding: 16px;
}

.gthr-tooltip {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 1000;
}

.gthr-tooltip__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.gthr-tooltip__input {
	color: black;
	resize: none;
	appearance: none;
	padding: 4px 0 24px 0;
	position: relative;
}

.gthr-tooltip__input:focus {
	outline: none;
}

.gthr-tooltip__comment--resolved {
	text-decoration: line-through;
}

.gthr-tooltip__placeholder {
	position: absolute;
	top: 4px;
	left: 0;
	color: lightgrey;
	pointer-events: none;
	margin: 0 !important;
}

.gthr-tooltip__actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.gthr-tooltip__action {
	padding: 6px 12px;
	border-radius: var(--border-radius);
}

.gthr-tooltip__action:disabled {
	pointer-events: none;
	opacity: 0.5;
}

.gthr-tooltip__action--primary {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	color: white;
	margin-left: 8px;
}

.gthr-tooltip__action--primary:hover {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.gthr-tooltip__action--secondary {
	color: black;
	border: 1px solid lightgrey;
}

.tippy-box[data-animation=scale-subtle][data-placement^=top]{transform-origin:bottom}.tippy-box[data-animation=scale-subtle][data-placement^=bottom]{transform-origin:top}.tippy-box[data-animation=scale-subtle][data-placement^=left]{transform-origin:right}.tippy-box[data-animation=scale-subtle][data-placement^=right]{transform-origin:left}.tippy-box[data-animation=scale-subtle][data-state=hidden]{transform:scale(.8);opacity:0}
